:root {
  --background-color: #0f0f0f;
  --text-color: rgb(241 230 230 / 90%);
}

* {
  color: inherit;
}

.document {
  color: var(--text-color);
  font-family: monospace;
  padding: 0 1vw;
}

.background {
  background: var(--background-color);
}
