html {
	margin: 0 auto;
	padding: 10vw 40vw 0 40vw;
	background: darkslategrey ;
	color: whitesmoke;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

@media (max-width: 600px) {
	html {
		padding-top:20vw;
		padding-left: 10vw;
	}
}

body {
	background: brown ;
	padding: 1vw 5vw 7vw;
}

a {
	color: gainsboro ;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

a:hover {
	color: lightslategray;
}
