body { font-family: "brandon-grotesque-1","brandon-grotesque-2",sans-serif; font-style: normal; font-weight: 400; }

.container { max-width: 70%; margin: 6% auto 0; }

@media (max-width:1140px) {
	.container { max-width: 90% }
}

div { margin-left: 3%; margin-bottom: 6%; position: relative; }

@media (max-height:1000px) {
	.container { margin: 3% auto 0 }

	div { margin-bottom: 3% }
}

@media (max-height:700px) {
	div { margin-bottom: 2% }
}

a:hover, a:active, a:focus { padding-left: 1% }

a:visited { text-decoration: line-through }

a { color: #777777; text-decoration: none; display: block; padding-left: 0; -webkit-transition: padding ease 0.3s; transition: padding ease 0.3s; -moz-transition: padding ease 0.3s; -o-transition: padding ease 0.3s; }
