html {
    padding: 2em 1em 0;
    background-size: cover;
    color: rgba(45,45,45,.9);
    font-family: sans-serif;
}

a {
    color: dodgerblue;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    transition: color .3s linear;
}

a:hover {
    color: lightslategray;
}

.content>* {
    margin: 0 0 1em;
}
