html {
    padding: 2%;
    background: #555555;
}

body {
    padding: 4%;
    font-family: sans-serif;
    background: #eeeeee;
    background-size: contain;
}

img {
    width: 24%;
}

a {
    text-decoration: none;
    border-bottom: .1em solid;
}
a:link {
    color: #818181;
    -webkit-transition: color .7s linear;
    -moz-transition: color .7s linear;
    -o-transition: color .7s linear;
    transition: color .7s linear;
}
a:visited {
    color: #B43F3F;
}
a:hover,
a:active,
a:focus {
    color: #000000;
}
