html {
    margin: 0 auto;
    padding: 10em;
    background: #333;
    background-size: cover;
    color: rgba(45,45,45,.9);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
    color: rgba(25,25,25,.9);
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

a:hover {
    color: lightslategray;
}

.content>* {
    background: rgba(150,150,150,0.3);
    padding: 1em;
    margin: 0 0 1em;
    display: block;
    width: 100%;
}
