---
import { Image } from "@astrojs/image/components";
---

<header>
  <section>
    <Image
      width={150}
      aspectRatio={"1:1"}
      src="/android-chrome-512x512.png"
      alt="Photo of Arturo Silva"
      format="avif"
    />
  </section>
  <section class="profile">
    <h1>Arturo Silva (He/him pronouns).</h1>
    <h2>
      Engineer at{" "}
      <a href="https://build.washingtonpost.com">The Washington Post</a>. Loves
      cooking, photography, and traveling.
    </h2>
  </section>
</header>

<style>
  :root {
    --background-header: rgba(22, 0, 0, 0.5);
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
  }

  @media (max-width: 600px) {
    header {
      gap: 0;
    }
  }

  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  }

  img {
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    img {
      width: 5rem;
      height: 5rem;
      position: fixed;
      bottom: 1.2rem;
      left: 1rem;
      z-index: var(--overlay-z-index);
      box-shadow: 0 0 0 0.25rem var(--background-header);
    }
  }

  .profile {
    background: var(--background-header);
    padding-inline: 2rem;
    border-radius: 0.5rem;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background-header: rgba(255, 255, 255, 0.5);
    }
  }
</style>
